[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pychalk = "2"
colorama = "*"

[dev-packages]
yapf = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
main = "python terminal_app.py"
