[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pychalk = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"

[scripts]
main = "python terminal_app.py"
