[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pychalk = "*"
colorama = "*"

[dev-packages]
yapf = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
main = "python terminal_app.py"
